@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@100;300;400;500;700;900 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@200;300;400;500;600;700&display=swap");

/* IMPOSTAZIONI GENERALI */
:root {
    --b: #023aac;
    --o: #ffa11d;
    --n: #ececec;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
    color: #263460;
}
/* TESTI */
.t-b {
    color: var(--b) !important;
}
.t-o {
    color: var(--o) !important;
}
.t-n {
    color: var(--n) !important;
}
/* SFONDI */
.bg-b {
    background-color: var(--b) !important;
}
.bg-o {
    background-color: var(--o) !important;
}
.bg-n {
    background-color: var(--n) !important;
}

.h1-home {
    font-family: "Russo One", sans-serif;
    font-size: 14vh;
}
@media screen and (max-width: 768px){
    .h1-home {
        font-size: 10vh;
    }
}
@media screen and (min-width: 769) and (max-width: 1366px){
    .h1-home {
        font-size: 12vh;
    }
}
.h1-board{
    font-size: 70px !important;
}
.h1-boardDashboard{
    font-size: 40px !important;
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 10px;
        
    }
}

.headerHome {
    height: calc(100vh - 56px);
    margin-top: 56px;
}

/* NAVBAR */
.nav-link {
    color: var(--n) !important;
}
.nav-link:hover {
    color: var(--o) !important;
}

.nav-custom {
    width: 96vw;
    position: fixed;
    top: 0;
    box-shadow: 1px 1px 10px var(--b);
    z-index: 1030;
}

.logo {
    width: 30px;
}




/* FOOTER */
.footer-custom{
    bottom: 0;
}
.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15rem;
    
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

.carousel-col {
    max-height: 30rem;
    /* min-height: 15rem; */
}

@media (min-width: 768px) {
    .col-md-5 {
        max-width: 45rem;
        min-width: 35rem;
    }
}

.imgCard {
    
    object-fit: cover;
    transition: 3s;
}
.card-img-top {
    transition: 0.5s;
}
.card-img-top:hover {
    transform: translateY(-24px) !important;
}
.card-custom {
    border: 2px solid var(--b);
}
input {
    border: 2px solid var(--b) !important;
}

.sfondoHeader {
    background-image: linear-gradient(
    0deg,
    rgba(238, 238, 238, 1) 0%,
    rgba(248, 249, 250, 0) 21%
    ),
    url("/public/media/sfondoHeader.png");
    background-position: right;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
}

.btnOrange:hover {
    background-color: #dd8a16 !important;
}
.btnBlu:hover {
    background-color: #2155ff !important;
}
.cardLink:hover {
    color: var(--o) !important;
}

.box_categories {
    height: 3rem;
    width: 9rem !important;
    
}

.btn-custom {
    color: rgb(229, 62, 2);
    background-color: #ffe8c7;
    
}
.btn-custom:hover {
    background-color: var(--o);
    color: var(--b);
}

/* ERROR PAGE */

.cls-1 {
    fill: #ffc541;
}

.cls-2 {
    fill: #0f309b;
}

.cls-3 {
    fill: #2155ff;
}

.cls-4 {
    fill: #f78d5e;
}

.cls-5 {
    fill: #fa976c;
}

.cls-6,
.cls-7,
.cls-8 {
    fill: #b65c32;
}

.cls-10,
.cls-6 {
    opacity: 0.6;
}

.cls-7 {
    opacity: 0.4;
}

.cls-9 {
    fill: #f4b73b;
}

.cls-11 {
    fill: #f9c358;
}

.cls-12 {
    fill: #9b462c;
}

.cls-13 {
    fill: #aa512e;
}

.cls-14 {
    fill: #7d6aa5;
}

/* animations */

.wheel {
    animation: wheel-rotate 6s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes wheel-rotate {
    50% {
        transform: rotate(360deg);
        animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
    100% {
        transform: rotate(960deg);
    }
}

.clock-hand-1 {
    animation: clock-rotate 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

.clock-hand-2 {
    animation: clock-rotate 6s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

@keyframes clock-rotate {
    100% {
        transform: rotate(360deg);
    }
}

#box-top {
    animation: box-top-anim 2s linear infinite;
    transform-origin: right top;
    transform-box: fill-box;
}

@keyframes box-top-anim {
    50% {
        transform: rotate(-5deg);
    }
}

#umbrella {
    animation: umbrella-anim 6s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes umbrella-anim {
    25% {
        transform: translateY(10px) rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
}

#cup {
    animation: cup-rotate 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    transform-origin: top left;
    transform-box: fill-box;
}

@keyframes cup-rotate {
    50% {
        transform: rotate(-5deg);
    }
}

#pillow {
    animation: pillow-anim 3s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes pillow-anim {
    25% {
        transform: rotate(10deg) translateY(5px);
    }
    75% {
        transform: rotate(-10deg);
    }
}

#stripe {
    animation: stripe-anim 3s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes stripe-anim {
    25% {
        transform: translate(10px, 0) rotate(-10deg);
    }
    75% {
        transform: translateX(10px);
    }
}

#bike {
    animation: bike-anim 6s ease infinite;
}

@keyframes bike-anim {
    0% {
        transform: translateX(-1300px);
    }
    50% {
        transform: translateX(0);
        animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    100% {
        transform: translateX(1300px);
    }
}

#rucksack {
    animation: ruck-anim 3s linear infinite;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes ruck-anim {
    50% {
        transform: rotate(5deg);
    }
}

.circle {
    animation: circle-anim ease infinite;
    transform-origin: center;
    transform-box: fill-box;
    perspective: 0px;
}

.circle.c1 {
    animation-duration: 2s;
}

.circle.c2 {
    animation-duration: 3s;
}

.circle.c3 {
    animation-duration: 1s;
}

.circle.c4 {
    animation-duration: 1s;
}

.circle.c5 {
    animation-duration: 2s;
}

.circle.c6 {
    animation-duration: 3s;
}

@keyframes circle-anim {
    50% {
        transform: scale(0.2) rotateX(360deg) rotateY(360deg);
    }
}

.four,
#ou {
    animation: four-anim cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

.four.a {
    transform-origin: bottom left;
    animation-duration: 3s;
    transform-box: fill-box;
}

.four.b {
    transform-origin: bottom right;
    animation-duration: 3s;
    transform-box: fill-box;
}

#ou {
    animation-duration: 6s;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes four-anim {
    50% {
        transform: scale(0.98);
    }
}

#imgSide {
    width: 90%;
}
/* .imgSide{
    transition: 1s;    
    animation-iteration-count: infinite;
    animation-name: imgTranslate;
}
@keyframes imgTranslate {
    from {
        transform: translateY(10%);
    }
    to {
        transform: translateY(0%);
    }
} */

.form {
    backdrop-filter: blur(7px);
}

.sfondoLogin {
    background-image: url("/public/media/sfondoLogin-02-02.png");
    background-position-x: 13vw;
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
}
.sfondoRegister {
    background-image: url("/public/media/sfondoReg-03.png");
    background-position-x: 13vw;
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

.sfondoCreate {
    background-image: url("/public/media/sfondoCreate-04.png");
    background-position-x: 3vw;
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.sfondoLavora {
    background-image: url("/public/media/sfondoLavora-02.png");
    background-position-x: 3vw;
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
}
/* ANNUNCI */
.sfondoAnnunci {
    background-image: url("/public/media/sfondoAnnunci-02.png");
    background-size: cover;
    height: 32rem;
    background-repeat: no-repeat;
}

@media screen and (max-width: 420px) {
    .sfondoAnnunci  {
        background-position-x: -400px;
        background-image: url("/public/media/sfondoAnnunci2-02.png");

        
    }
}
@media screen and (max-width: 1025px) {
    .sfondoAnnunci  {
        background-image: url("/public/media/sfondoAnnunci2-02.png");
        
    }
}

.board-text{
    color: var(--o);
}
@media screen and (max-width: 1366px) {
    .board-text {
        margin-bottom: 150px;
        
        
    }
}

/* DASHBOARD */
.sfondoDashboard {
    background-image: url("/public/media/sfondoDashboard-03.png");
    background-size: cover;    
    height: 25rem;
    background-repeat: no-repeat;
    background-position: top;
    
}
@media screen and (max-width: 1025px) {
    .sfondoDashboard  {
        background-position-x: 0px;
        background-image: url("/public/media/sfondoDashboard2-05-05.png");
        /* background-position: center;
        background-size:cover ; */
    }
}

@media screen and (max-width: 420px) {
    .sfondoDashboard  {
        background-position-x: -90px;
        background-image: url("/public/media/sfondoDashboard2-05-05.png");
    }
}

.h1-boardDashboard{
    font-size: 40px !important;
}   

@media screen and (max-width: 1025px) {
    .h1-boardDashboard {
        
        font-size: 40px !important;
        margin-top: 85px !important;
        padding-top: 0px !important;
    }
}

@media screen and (max-width: 420px) {
    .h1-boardDashboard {
        
        font-size: 25px !important;
        margin-top: 30px !important;
        padding-top: 0px !important;
    }
}

/*
@media screen and (max-width: 1366px) {
    .h1-boardDashboard {
        
        font-size: 40px !important;
        margin-top: 50px !important;
        padding-top: 0px !important;
    }
} */

/* BOARD */
.board {
    background: url("/public/media/sfondoCat-01.png");
    
    background-size: cover;
    
    height: 32rem;
    
}



@media screen and (max-width: 768px) {
    .board {
        background-position: -30vw;
        
    }
}
@media screen and (max-width: 1366px) {
    .board {
        background-position: 0vw;
        
    }
}

.board-text{
    color: var(--o);
    font-size:40px;
}

@media screen and (max-width: 1366px) {
    .board-text {
        margin-bottom: 150px;
    }
}

/* BANDIERINE*/

.flag{
    border-radius: 50% !important;
    object-fit: cover !important;
}

.globo{
    font-size: large !important;
}

.dropdown-item:hover{
    color: var(--b) !important;
}


.img-preview {
    width: 18rem;
    height: 15rem;
    background-size: cover;
    background-position: center;
}

.icone{
    transition-duration: 0.7s;
}
.icone:hover{
    transform: scale(1.5);
}

/* Preloader */
.preload{
    overflow: hidden;
}
.loader-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: var(--b);
}
.loader {
    width: 65px;
    height: 65px;
    display: inline-block;
    position: relative;
    background: var(--o);
    box-sizing: border-box;
    animation: zeroRotation 1s ease infinite alternate-reverse;
}
@keyframes zeroRotation {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(0.3) rotate(360deg);
    }
}

.inputCustom{
    width: 95%;
}